# Copy to keystore.properties (do not commit). Signing files live in the keystore repo:
# https://github.com/AbhayankarBellur/keystore
MYAPP_RELEASE_STORE_FILE=warmpawz-vendor-release.keystore
MYAPP_RELEASE_KEY_ALIAS=warmpawz-vendor
MYAPP_RELEASE_STORE_PASSWORD=your_store_password_here
MYAPP_RELEASE_KEY_PASSWORD=your_key_password_here
