<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>API_KEY</key>
  <string>AIzaSyB0dHhUIySMVl5up7dqweiYa3mjig0ZReQ</string>
  <key>GCM_SENDER_ID</key>
  <string>771876271254</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>com.warmpawz.app</string>
  <key>PROJECT_ID</key>
  <string>warmpawz-b9baf</string>
  <key>STORAGE_BUCKET</key>
  <string>warmpawz-b9baf.firebasestorage.app</string>
  <key>IS_ADS_ENABLED</key>
  <false/>
  <key>IS_ANALYTICS_ENABLED</key>
  <false/>
  <key>IS_APPINVITE_ENABLED</key>
  <true/>
  <key>IS_GCM_ENABLED</key>
  <true/>
  <key>IS_SIGNIN_ENABLED</key>
  <true/>
  <key>GOOGLE_APP_ID</key>
  <string>1:771876271254:ios:a38fe36a50aa433af1beb7</string>
</dict>
</plist>
